@model GoodSupplyWEB.ViewModels.PriceViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="dir-rtl">
    <h2>עריכה</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>מחיר</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Prices.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Prices.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Prices.SupplierId, new SelectList(Model.Suppliers, "Id", "FirstName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prices.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prices.ManufacturerProductId, "ManufacturerProductId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Prices.ManufacturerProductId, new SelectList(Model.ManufacturerProducts, "Id", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Prices.ManufacturerProductId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prices.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prices.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prices.ProductPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prices.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prices.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prices.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prices.ManufacturerPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prices.ManufacturerPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prices.ManufacturerPrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="שמור" class="btn btn-sm btn-success" />
            @Html.Partial("_BackToListButtonPartial")
        </div>
    }
</div>
