@model GoodSupplyWEB.ViewModels.ThumbnailSuppliersBoxViewModel

<style>
    .article {
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }
</style>

<div class="row">

    @if (Model.SuppliersThumbnails != null)
    {
        foreach (var thumbnail in Model.SuppliersThumbnails)
        {
            <div class="col-xs-6 col-md-3">
                <div style="background-color: #d34615; width:100%; height:200px;" class="thumbnail">
                    <div class="thumbnail-img-container">
                        <a href="@thumbnail.Link2"><h1 style="color:white; text-align: center;">@thumbnail.BusinessName</h1></a>
                    </div>
                    <div class="caption" style="text-align:right; color:white;">
                        <h5>@thumbnail.BusinessAddress</h5>
                        <h5>אימייל: @thumbnail.Email</h5>
                        @*<h5><a href="@thumbnail.Link1" style="text-decoration:underline; font-weight: bold;">פרטים נוספים על הספק</a></h5>*@
                        <hr />
                        <a class="article" href="@thumbnail.Link2">
                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;
                            מוצרים שהספק מספק
                        </a>
                    </div>
                </div>
            </div>
        }
    }

</div>
