@model GoodSupplyWEB.ViewModels.ThumbnailProductsBoxViewModel

<div class="row">

    @if (Model.ProductsThumbnails != null)
    {
        foreach (var thumbnail in Model.ProductsThumbnails)
        {
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="thumbnail-img-container">
                        <a href="@thumbnail.Link"><img src="@thumbnail.ImageUrl" class="thumbnail-img" alt="" /></a>
                    </div>
                    <div class="caption" style="text-align:right">
                        <h3><a href="@thumbnail.Link">@thumbnail.ProductName @thumbnail.CommerciallName</a></h3>
                        <h5>@thumbnail.ManufacturerName | @thumbnail.PackageQuantity יח'</h5>
                        <h5 style="color:grey">מק"ט: @thumbnail.CatalogNumber</h5>
                        <h5><a href="@thumbnail.Link" style="text-decoration:underline; font-weight: bold;">להשוואת מחירים לחץ כאן</a></h5>
                    </div>
                </div>
            </div>
        }
    }

</div>
