@model GoodSupplyWEB.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Create";
}

<div class="dir-rtl">
    <h2>צור</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>מוצרים</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Products.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Products.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Products.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Products.CategoryId, "קטגורית מוצר", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Products.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Products.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <input type="submit" value="צור" class="btn btn-sm btn-success" />
            @Html.Partial("_BackToListButtonPartial")
        </div>
    }
</div>
